<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
<div class="container">
  <div class="row justify-content-center">
    <h1>Tabela Periódica</h1>
  </div>
</div>
<main>
  <%= link_to 'Home', root_path, class:'link' %>
  <div id="grid-container">
    <% @elements["order"].each_with_index do |element, i| %>  
    <%= link_to table_path(@elements[element]["name"].downcase) do %>
      <section class="<%= @elements[element]["category"]%>">
        <span><%= @elements[element]["number"] %></span>
        <h2><%= @elements[element]["symbol"] %></h2>
        <p><%= @elements[element]["name"] %></p>
        <p><%= @elements[element]["atomic_mass"] %></p>
      </section>
    <% end %> 

      <% if @breaks.include?(i) %>
        <% iten = @breaks.index(i) %>
        <section class="col-hidden col-span<%= @valueBreaks[iten] %>"></section>
      <% end %>
    <% end %>
  </div>

  <!-- FOOTER -->
  <footer>
    <ul>
      <li class="diatomic-nonmetal">Não Metais</li>
      <li class="noble-gas">Gases Nobres</li>
      <li class="alkali-metal">Metais Alcalinos</li>
      <li class="alkaline-earth-metal">Metais Alcalino-Terrosos</li>
      <li class="metalloid">Semimetais</li>
      <li class="halogenio">Halogênios</li>
      <li class="post-transition-metal">Outros Metais</li>
      <li class="transition-metal">Metais de Transição</li>
      <li class="lanthanide">Lantanídeos</li>
      <li class="actinide">Actinídios</li>
    </ul>
  </footer>
</main>









